@font-face {
    font-family: 'SourceSansPro Regular';
    src: url('SourceSansPro-Regular.ttf');
}


@font-face {
    font-family: 'SourceSansPro Bold';
    src: url('SourceSansPro-Bold.ttf');
}


@font-face {
    font-family: 'SourceSansPro SemiBold';
    src: url('SourceSansPro-SemiBold.ttf');
}


.root{
    -fx-font-size: 14px;
    -fx-font-family: 'SourceSansPro Regular';
}

.jfx-decorator {
    /*-fx-decorator-color: linear-gradient(to bottom, #434453, #373847);*/
    -fx-decorator-color: #4e4e59;
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;

}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 0 0 0;
}

