/******************************** yang */
.keyword {
    -fx-fill: purple;
    -fx-font-weight: bold;
}
.semicolon {
    -fx-font-weight: bold;
}
.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}
.brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.string {
    -fx-fill: blue;
}

.comment {
	-fx-fill: cadetblue;
}

/******************************** xml */
.tagmark {
    -fx-fill: gray;
}
.anytag {
    -fx-fill: crimson;
}
.attribute {
    -fx-fill: darkviolet;
}
.avalue {
    -fx-fill: black;
}

.paragraph-box:has-caret {
    -fx-background-color: #d1fcfc;
}


/***************************** common */
.lineno {
    -fx-fill: ivory; 
    -fx-background-color: -fx-fill;
    -fx-padding: 0 5 0 5;   
}

/*-------------bracket matcher class--------------*/
/*.code-area .paragraph-box .text {
    -fx-font-size: 18px;
}*/
.code-area .paragraph-box .text.match {
    -rtfx-background-color: #00000033;
}


/*-------------editor buttons styles--------------*/
.button.pressed { -fx-background-color: ghostwhite; }

.button, .toggle-button {
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.buttonContainer{
	-fx-padding : 10 0 10 10;
	-fx-spacing: 5;
}


.editButton {
  -fx-font-family: 'SourceSansPro SemiBold';
  
  -fx-pref-width : 45;
  -fx-pref-height : 25;

  -fx-text-fill : white;
  -fx-background-color : #434453;
  -fx-background-radius: 2px;

  -fx-border-radius: 2px;
  -fx-border-width: 1px;
  /*-fx-border-color: #00b7c3;*//*#ffb900 */
  
  -jfx-button-type: RAISED;
}


.lineNumberContainer{
	-fx-padding : 5 0 -3 10;
	-fx-spacing: 5;
}

.lineNumberLabel{
	-fx-text-fill: #434453;
	-fx-font-size: 12px;	
	-fx-font-weight: bold;
}

.glyphFormat{
	glyph-size: 20;
	
}

.schemaTile {
 -fx-alignment : center;
 -fx-hgap : 2;
 -fx-vgap : 1;
 -fx-min-height : 25;
 -fx-min-width : 200;
 -fx-background-color: #373847 ;
 /*-fx-padding : 20 20 20 -20;*/ /* top, right, bottom, and left */
 
 
 /*-fx-background-color: #373847 ;
 -fx-background-radius: 0 300 300 0;
 -fx-border-radius: 0 300 300 0;*/
 
  /*-fx-border-width: 2px;
  -fx-border-color: red;*/
}

.buttonIcon {
	-fx-fill: white;
}


/*   codearea.css **/
.comboType{
  -fx-min-height : 30;
  -fx-max-height : 30;
}
.comboType.combo-box .text{    
	-fx-fill: white;
	-fx-font-family: 'Monospaced';
	-fx-font-size: 14px;
}

.comboType.combo-box .list-cell {
    -fx-background: #434453;
    -fx-background-color: #434453;
    -fx-text-fill: -fx-text-base-color;
}

.comboType .combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: #545564;
    -fx-text-fill: -fx-text-inner-color;
}

.comboType .combo-box-popup  > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.comboType .combo-box-popup  > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
    -fx-background: #545564;
    -fx-background-color: #545564;
}

.comboType.combo-box-base > .arrow-button {
    -fx-background-color: #434453;
}

.color-picker > .label {
    -fx-text-fill: white;
    -fx-background-color: #434453;
}

.color-picker > .arrow-button {
	-fx-text-fill: white;
    -fx-background-color: #434453;
}
